#Board_game{
    margin: 10px;
    display: flex;
    flex-direction: row;
}


body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
    color: wheat;
  }
  
  .square {
    color: black;
    background:rgb(53, 53, 53);
    color: wheat;
    border: 1px solid #fff;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 6rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 6rem;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    width: min-content;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
    .input-button {
      background-color: #81cc00;
      font-size: 1.3rem;
      padding: 13px;
      color: white;
      margin: 25px 0px;
      margin-right: 10px;
      border-radius: 9px;    
      outline: none;
      border: none;
      cursor: pointer;
  }
  