#loadingroom_id{    
    background: #ffffff1c;
    color: #81cc00;
}

div p {
    padding: 15px;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
}
#loadingroom_idcontainer{
    display: flex;
    justify-content: center;
}